<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
    {% include "header.html" %}

    <section class="py-5 text-center container">
  <div class="row py-lg-5 mt-5 mb-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <p class="lead text-body-secondary fst-italic fw-bold">
        We integrate lives - with passion!
      </p>
    </div>
  </div>
</section>

    <!-- Centered Card with Image -->
    <div class="container d-flex justify-content-center mt-5 mb-5">
        <div class="card shadow-sm" style="width: 22rem;">

            <!-- Replace src with your image path -->
            <img src="static/assets/img/grad_image.png" class="card-img-top" alt="Profile Image">


    <div class="card-body">
      <p class="card-text">
          Hi, I’m Kushan — an engineering enthusiast, entrepreneur,
          and someone passionate about solving real-world problems with technology.
          With a background in both engineering and business,
          I’m currently building software solutions and exploring projects that can create real impact,
          from tech startups to innovative platforms in finance and everyday life.
          I believe in discipline, consistency, and a positive mindset, principles
          I’ve applied to every aspect of life — whether it’s working towards my dream physique,
          growing my businesses, or building meaningful connections. Outside of work, I enjoy fitness,
          personal development, and exploring ways to help others grow.
      </p>
    </div>
    </body>
</html>